storage "file" {
	path = "/var/lib/vault"
}

listener "tcp" {
    address = "192.168.50.4:8200"
	tls_disable = 1
}

ui = "true"
api_addr = "http://192.168.50.4:8200"
plugin_directory = "/etc/vault.d/plugins"
